:root {
  --color-primary: #333;
  --breakpoint-large: 1600px;
  --font-size-small: .8em
}

.app {
  text-align: left;
}

h1, h2 {
  margin: 0;
}

.logo {
  cursor: pointer;
}

.app-header {
  padding: 5vh 10vw 0 10vw;
  background-color: lighten(lightgray, 10%);
  @media (max-width: 800px) {
    padding: 5vh 5vw 0 5vw;
  }
}

.view-header {
  background-color: lighten(lightgray, 10%);
  padding: 5vh 10vw 15vh 10vw;
  @media (max-width: 800px) {
    padding: 5vh 5vw 0 5vw;
  }
}

.view-content {
  padding: 0 10vw 5vh 10vw;
  @media (max-width: 800px) {
    padding: 0 5vw 5vh 5vw;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fwn {
  font-weight: normal;
}

.fwb {
  font-weight: bold;
}

.dtc {
  color: var(--color-primary)
}

